
<div class="table-responsive-sm">
  <table class="table services">

    <caption class="service-header">Services</caption>
    <% if current_user.has_any_role?(:admin, :barber) %>
    <caption class="add-service">
      <%= link_to new_service_path do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    </caption>
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @services.each do |s| %>
      <tr>
        <td><%= s.name.capitalize %></td>
        <td>$<%= s.price %></td>
      </tr>
      <% end %>
     <% end %>
    </tbody>
  </table>
</div>
