<h1>Barbershops</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Profile</th>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |s| %>
    <tr>
      <td><%= s.name.capitalize %></td>
      <td><%= s.address %></td>
      <td><%= s.phone %></td>
      <td>
        <%= link_to shop_path(s.id) do %>
          <i class="fas fa-home"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
