<%= render 'services/index' %>

<div class="table-responsive-sm">
  <table class="table barbers">

    <caption class="barber-header">Barbers</caption>
    <% if current_user.has_any_role?(:admin, :barber) %>
    <caption class="add-barber">
      <%= link_to new_user_path do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    <% end %>
    </caption>
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td><%= @shop.name %></td>
        <td><%#= @shop.users.first_name %></td>
      </tr>

    </tbody>
  </table>
</div>
