<body id="home">

  <div class="container">
    <h1>Features</h1>
    <hr>
    <div class="row">
      <div class="col-md-5 feat-barber">
        <h2>Barbers</h2>
        <ul>
          <li>Register Your Barbershop</li>
          <li>Manage Clientele & Employees</li>
          <li>Grow Your Business</li>
        </ul>
      </div>
      <div class="col-md-4 feat-client">
        <h2>Clients</h2>
        <ul>
          <li>Search Barbershops</li>
          <li>Book Appointments</li>
          <li>Pay Online</li>
        </ul>
      </div>
    </div>
  </div>

</body>
