/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // *= require jquery.timepicker.css
 // *= require simple_calendar

 @import "bootstrap";

// nav bar
.nav {
  background-color: red;
  height: 5em;
}

.nav > li {
  position: relative;
  display: inline-block;
  float: right;
    a {
      border-radius: 5px;
      top: .5em;
      font-size: large;
      color: black
  }
}

// appointments section
.sidebar {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 50px;
  transition: .5s;
  margin: 1% 2%;
}

.sidebar .closebar {
  position: absolute;
  top: 0;
  cursor: pointer;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
}

.row {
  position: relative;
  top: 1em;
  color: #818181;
}

h1 {
  color: #818181;
  text-align: center;
}

// Barbershops profile (*services table)
.services {
  position: relative;
  float: right;
  width: 25%;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 13px 6px -7px rgba(43,43,43,0.1);
}

.service-header {
  position: relative;
  top: 2em;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
}

.add-service {
  position: relative;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
    a {
      position: relative;
      left: 85%;
  }
}
